<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>React Tutorials - Event Handling</title>
    <link rel="shortcut icon" type="image/png" href="favicon" />
    <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>

    <!-- Don't use this in production: -->
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
</head>

<body>
    <div class="container-lg">
        <div class="py-5">
            <div id="root"></div>
        </div>
    </div>
    <script type="text/babel">

        class App extends React.Component {
            constructor(props) {
                super(props)
                this.state = {
                    ifclik: false
                }
                this.settrucl = this.settrucl.bind(this);
            }

            settrucl() {
                this.setState({
                    ifclik: true
                });
            }

            render() {

                return (
                    <div>
                        <button onClick={this.settrucl} className="btn btn-primary">
                            Click Here
                        </button>
                        {this.state.ifclik ? <h1 className="text-success"> You Clicked</h1> :
                            <h1 className="text-danger"> Not Clicked</h1>}
                    </div>
                )
            }
        }

        ReactDOM.render(
            <App />,
            document.getElementById('root')
        );

    </script>
</body>

</html>